- tag_classes = []
each tag in tags
  - tag_classes.push('is-' + tag.replace(/\s/g, '-'))
- tag_classes = tag_classes.join(' ')

.transaction(class="is-#{ type } #{ tag_classes }")
  .transaction-body
    .transaction-body-column
      .transaction-name= name
      .transaction-date= date
    .transaction-body-column
      .transaction-amount= amount
      .transaction-total= total_amount + " "
      - amount = parseInt(amount.replace(/\s/g, ''), 10)
      - total_amount -= amount
  .transaction-tags: each tag in tags
    span.transaction-tag= tag

